.box {
  width: 100%;
  max-width: 300px; /* Will be AT MOST 320px wide */
  word-wrap: break-word;
  text-size-adjust: auto;
  height: auto;
  margin: 10px auto;
  background: #77b6e9;
  padding: 15px;
  text-align: center;
  font-style: italic;
  font-size: 16px;
  color: #fff;
  font-family: arial;
  position:relative;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: #77b6e9;
  box-shadow:0 0 10px #77b6e9;
}

.sb3:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #77b6e9;
  border-right: 10px solid transparent;
  border-top: 10px solid #77b6e9;
  border-bottom: 10px solid transparent;
  left: 19px;
  bottom: -19px;
}